.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main.touch{
    background-color: red;
}
.video{
    width: 480px;
    height: 360px;
    background-color: #333;
}
.btn{
    margin-top: 30px;
    padding:5px 20px;
    margin: 20px;
    border-radius: 10px;
}